body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.galery img:hover{
    margin-bottom: 70PX;
    flex: 3;
    /* width: 70px; */
}
.galery {
    background-color: blue;
    box-sizing: border-box;
    width: 800px;
    height: 400px;
    border-radius: 5%;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    padding: 20px;
    gap: 5px;
}

.galery .blu{
    transition: all 2s;
    flex: 1;

    object-fit: cover;
    cursor: no-drop;
    border-radius: 5%;
    overflow:auto;
}
